.cell {
    min-width: 5rem;
    min-height: 5rem;

    padding: 0.3rem;

    border: 1px solid black;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;
}

.cell:hover {
    filter: brightness(1.2);
}

.cell__pencil {
    width: 100%;
    height: calc(100% / 3);

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pencil--center {
    justify-content: center;
}

.cell--solved {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-weight: 700;

    position: absolute;
    background: white;
}

.cell--given {
    background: var(--clr--given);
}

.cell--focus {
    background: var(--clr--focus);
}
