.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.board {
  max-width: 1200px;
  max-height: 1200px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);

  border: 2px solid black;
}

.box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);

  border: 2px solid black;
}