.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.board {
  max-width: 1200px;
  max-height: 1200px;

  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(9, 1fr);

  border: 1px solid black;
}