:root {
  /* colors */
  --clr--given: #C8C6AF;
  --clr--bg: #E9EDDE;
  --clr--black: #020100;
  --clr--error: #C73E1D;
  --clr--focus: #B2ABF2;

  /* font */
  --font--body: "Albert Sans", sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
}

html {
  box-sizing: border-box;

  /* general font */
  font-family: var(--font--body);
  font-size: 16px;
  font-weight: 400;
}

body {
  min-height: 100vh;
  min-height: 100svh;
  background: var(--clr--bg);
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}