:root {
  /* colors */
}

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
}

html {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  min-height: 100svh;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}