:root {
  /* colors */
}

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
}

html {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  min-height: 100svh;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}